node_modules/
config.json
data/prefixes.json
data/suggestions.json
data/suggestions.json.tmp
data/settings.json
data/settings.json.tmp
data/antiraid.json
data/antiraid.json.tmp
.env
data/update-announcements.json
data/update-announcements.json.tmp
data/management.json
data/management.json.tmp
data/server-config.json
data/server-config.json.tmp
data/moderation-actions.json
data/moderation-actions.json.tmp
